<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjava.mappers.UserMapper">
	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.easyjava.entity.po.User">

		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 用户名 -->
		<result column="username" property="username"/>
		<!-- 密码 -->
		<result column="password" property="password"/>
		<!-- 邮箱 -->
		<result column="email" property="email"/>

	</resultMap>
	<!-- 通用查询列 -->
	<sql id="base_column_list">
		id,username,password,email
	</sql>
	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<if test="query.id != null">
			and id = #{query.id}
		</if>
		<if test="query.username != null and query.username != ''">
			and id = #{query.username}
		</if>
		<if test="query.password != null and query.password != ''">
			and id = #{query.password}
		</if>
		<if test="query.email != null and query.email != ''">
			and id = #{query.email}
		</if>

	</sql>
	<!-- 拓展的查询条件 -->
	<sql id="base_query_condition_extend">
		<if test="query.usernameFuzzy != null and query.usernameFuzzy !=''">
			 and username like count('%', #{query.usernameFuzzy}, '%')
		</if>
		<if test="query.passwordFuzzy != null and query.passwordFuzzy !=''">
			 and password like count('%', #{query.passwordFuzzy}, '%')
		</if>
		<if test="query.emailFuzzy != null and query.emailFuzzy !=''">
			 and email like count('%', #{query.emailFuzzy}, '%')
		</if>

	</sql>

	<!-- 通用查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!-- 查询列表 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM user <include refid="query_condition"/>
		<if test="query.orderBy!=null">order by ${query.orderBy}</if>
		<if test="query.simplePage!=null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>
	<!-- 查询数量 -->
	<select id="selectCount" resultMap="java.lang.Long">
		SELECT count(1) FROM user <include refid="query_condition"/>
	</select>
	<!-- 插入 （匹配有值的字段） -->
	<insert id="insect" parameterType="com.easyjava.entity.po.User">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.username != null">
				username,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.email != null">
				email,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.username != null">
				#{bean.username},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.email != null">
				#{bean.email},
			</if>

		</trim>
	</insert>
</mapper>